__pycache__
.env
.history
.hypothesis/
.DS_Store/
.DS_Store
GitCommitMessage.txt
ScrapPaper.txt
brownie-config.yaml
VMWalletAddressesForTesting.txt
.prettierrc
build/
.pytest_cache/
.vscode/
reports/
deployment_resources/